<%- include("../layout/adminHeader") %>
<%- include("../layout/adminSidebarHead") %>

<div class="main-panel">
    <div class="content-wrapper">

      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->
      <!-------- TYPE CONTENT HERE -------->

    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- main-panel ends -->

<%- include("../layout/adminSidebarFoot") %>
<%- include("../layout/adminFooter") %>