.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 10%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 20%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 30%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 20%;
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 15%;
}


.swal2-title {
  font-weight: normal !important; 
  font-size: 18px !important;

}
.swal2-content {
  font-weight: normal !important; 
  font-size: 16px !important;
  
}
.swal2-popup {
  width: 300px !important;
  font-size: 14px !important; 
}
.swal2-title {
  font-size: 16px !important; 
}
.swal2-content {
  font-size: 14px !important; 
}
.swal2-actions .swal2-styled {
  padding: 5px 10px !important; 
  font-size: 14px !important; 
}