body {
    font-family: 'Poppins', sans-serif;
}

.card-header h4 {
    margin: 0;
}

.accordion .card-header {
    padding: 0;
    background-color: #e8f0f2;
    height: 90px;
}

#headersoftitle{
    background-color: #e8f0f2;
}

.card{
    border-radius: 0%;
}

#carttotalsinside{
    background-color: #e8f0f2;
    border-radius: 0%;
}

.accordion .btn-link {
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding: 15px;
    font-size: 16px;
}

.accordion .btn-primary {
    margin: 10px 0;
}

.accordion .card-body {
    background-color: rgba(99, 99, 99, 0);
}

.quantity-controls .btn {
    border-radius: 0;
}

.quantity-controls .form-control {
    text-align: center;
    width: 60px;
}

.quantity-controls .input-group-prepend .btn,
.quantity-controls .input-group-append .btn {
    width: 30px;
}

.cart-total p {
    margin: 0;
}

.cart-total .text-primary {
    font-weight: bold;
}

.btn-block {
    margin-top: 10px;
}

.btn-danger.btn-sm {
    margin-top: 10px;
}

#viewaddress,#viewCoupons {
    color: black;
    font-size: 15px;
}

#viewaddress,#viewCoupons:focus {
    outline: none;
    box-shadow: none;
}

#addaddressbtn{
    margin: 19px;
}

#addAddressForm {
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
}

#addAddressForm input[type="text"],
#addAddressForm button {
    
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    font-family:'Poppins-Regular';
}

.btn-primary {
    background-color: #008B8B;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #373737; 
    color: #fff;
}
#addaddressbtn:hover{
    background-color: #373737; 
    color: #fff;
}

#addaddressbtn {
    background-color:  #008B8B;
    border-color:  #008B8B;
}

#addaddressbtn:focus,
#addaddressbtn:active {
    background-color: #006d6d;
    border-color: #006d6d;
    box-shadow: none;
    outline: none;
}

.form-control {
    border-radius: 10px;
    height: 35px;
}

.input {
    border-radius: 25px;
    width: 100%;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}

/* Add fade-in and fade-out effects */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
    

@media (max-width: 768px) {
    .media img {
        width: 80px;
    }
    .media-body h5 {
        font-size: 16px;
    }
    .media-body p {
        font-size: 14px;
    }
}
@media (max-width: 767.98px) {
    #breadcrumb-container {
        padding-top: 0 !important;
    }
}
@media (max-width: 767.98px) {
    .col-md-4 {
        margin-top: 20px;
    }
}
