/* Button styles */
#editPasswordForm {
    text-decoration: none;
    color: #4a4a4a;
    cursor: pointer;
    width: 60%;
    border: 1px;
}

.display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: #666666;
}

.default-card {
    border: 1px solid #ddd;
}

/* Form container */
#editPasswordForm {
    max-width: 65%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

/* Form input styles */
#editPasswordForm button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Poppins-Regular';
}

/* Save and Cancel buttons */
#editPasswordForm button {
    background-color: #008B8B;
    color: #fff;
    border: none;
    cursor: pointer;
}

#editPasswordForm button:hover {
    background-color: #202020;
}

#editPasswordForm .btn-secondary {
    background-color: #6c757d;
}

#editPasswordForm .btn-secondary:hover {
    background-color: #545b62;
}

label {
    font-size: 14px;
    font-family: 'Poppins-Regular';
}

.form-control {
    border-radius: 10px;
    height: 35px;
    border: 1px solid #c0c0c0;
    padding: 12px 15px;
}

.form-control::placeholder {
    color: #999;
}

@media (max-width: 768px) {
    #editPasswordForm {
        max-width: 100%;
    }

    #editPasswordForm input[type="text"],
    #editPasswordForm button {
        font-size: 12px;
    }

    label {
        font-size: 14px;
    }

    .form-control {
        height: 42px;
    }
}

.input {
    border-radius: 25px;
    width: 100%;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}
