.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.card-header {
    color: white;
    padding: 1rem 1.25rem;
}

.card-body {
    padding: 1.25rem;
}

h5 {
    color: #343a40;
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
}

@media (max-width: 768px) {
    .card-header, .card-body {
        text-align: center;
    }
}

.btn-cancel {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
    border: none;
    color: #292929;
    background-color: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.btn-cancel i {
    margin-right: 4px;
    font-size: 12px;
}

.btn-cancel:hover {
    background-color: #adadad;
}

.btn-return {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
    border: none;
    color: #292929;
    background-color: #ffc107;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.btn-return i {
    margin-right: 4px;
    font-size: 12px;
}

.btn-return:hover {
    background-color: #e0a800;
}

.modal-custom {
    font-size: 0.875rem;
}

.modal-custom .modal-header,
.modal-custom .modal-body,
.modal-custom .modal-footer {
    padding: 1rem;
}

.modal-custom .modal-title {
    font-size: 1.25rem;
}

.modal-custom .form-control {
    font-size: 0.875rem;
}

.modal-custom .btn {
    font-size: 0.80rem;
}

.btnSubmitReq{
    color: #ffffff;
    background-color:#008B8B;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-footer {
    justify-content: center;
}

.modal-footer .btn {
    margin: 0 0.5rem;
}

@media (max-width: 576px) {
    .modal-custom .modal-dialog {
        max-width: 90%;
    }

    .modal-custom .modal-header,
    .modal-custom .modal-body,
    .modal-custom .modal-footer {
        padding: 0.75rem; 
    }

    .modal-custom .modal-title {
        font-size: 1.1rem;
    }
}