#manageAddressBtn,
#editProfileBtn,
#myOrdersBtn,
#walletBtn,
#signOutBtn {
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #ffffff;
    font-size: 13px;
    font-family:'Poppins-Regular';
}

#manageAddressBtn:hover,
#editProfileBtn:hover,
#myOrdersBtn:hover,
#walletBtn:hover {
    background-color: #2b2b2b;
}

#signOutBtn:hover{
    background-color: #a40000;
}

.card-body{
    border-radius: 20px;
}

.customeremailptag {
    font-weight: 600;
}

.customerphoneptag{
    font-weight: 600;
}

.container {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

#customerProfileCard {
    border-radius: 10px;
    border-color: rgba(47, 79, 79, 0.223);
}


/* UserLogout sweetalert styles */
.swal2-popup {
    width: 300px !important;
    font-size: 14px !important; 
}
.swal2-title {
    font-size: 16px !important; 
}
.swal2-content {
    font-size: 14px !important; 
}
.swal2-actions .swal2-styled {
    padding: 5px 10px !important; 
    font-size: 14px !important; 
}