<%- include("../layout/loginHeader") %>
    <div class="container" id="container">

        <!-- Registration -->
        <div class="form-container sign-up">
            <form id="signupForm" method="POST" action="">
                <h2>Create Account</h2>
                <div class="mb-1 w-100">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Mobile Number" required>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
                </div>
                <button type="submit">Get OTP</button>
            </form>
        </div>

        <!-- Login -->
        <div class="form-container sign-in">
            <form id="loginForm" method="POST" action="">
                <h2>Log In</h2>
                <span>Login with Google</span>
                <div class="social-icons">
                    <a href="/auth/google" class="icon" id="googleBtn"><i class="fa-brands fa-google"></i></a>
                </div>
                <span>or use your email password</span>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <a href="#">Forget Your Password?</a>
                <button>Log In</button>
            </form>
        </div>


        <!-- Form Toggler -->
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back</h1>
                    <p>Already have a account?</p>
                    <button class="hidden" id="login">Log In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome Back</h1>
                    <p>Ready to get started? Create an account and let's begin</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>  
        </div>

    </div>

    <script>
    const container = document.getElementById('container');
    const registerBtn = document.getElementById('register');
    loginBtn = document.getElementById('login');

    registerBtn.addEventListener('click', () => {
    container.classList.add("active");
    });

    loginBtn.addEventListener('click', () => {
    container.classList.remove("active");
    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src=""></script>
<%- include("../layout/loginFooter") %>