<%- include("../layout/header") %>

<!-- Navbar -->
<%- include("../layout/navbar") %>


<div class="container pb-xl-5 pt-xl-1">
    <div class="row justify-content-center center-div">
        <div class="col-md-6 col-lg-6">
            <div class="formContainer border border-dark py-4">
                <div class="title pb-3 text-center">
                    <h2 class="font-weight-medium">Log in</h2><br><br>
                </div>

                <!-- LOGIN FORM -->
                <form id="loginForm" class="pt-2">
                    <div class="form-group">
                        <input type="text" class="input form-control" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div style="height: 15px;"></div>

                    <div class="form-group position-relative">
                        <input type="password" class="input form-control" name="password" id="password" placeholder="Password" required>
                        <span class="position-absolute password-toggle" onclick="togglePasswordVisibility('password')">
                            <i id="password-toggle-icon" class="fa fa-eye"></i>
                        </span>
                    </div>

                    <span id="errorMessage" style="color: red;"></span>
                    <button id="submitBtn" type="submit" class="btn btn-info rounded-pill w-100 mt-3">Login</button>
                </form>

                <p class="text-center pt-4 fw-bold orloginwith">OR</p>
                <div class="social-icon mt-4 text-center">
                    <button type="button" class="login-with-google-btn" onclick="window.location.href='/auth/google'">
                        Continue with Google
                    </button>
                </div>                
                <div class="text-center pt-4">
                    <p>Don’t you have an account?&nbsp;<a href="/register">Sign Up</a></p>    
                </div>

            </div>  
        </div>
    </div>
</div>

<%- include("../layout/footer.ejs") %>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
document.getElementById('loginForm').addEventListener('submit', async function(event) {
    event.preventDefault();
    
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const errorMessage = document.getElementById('errorMessage');

    try {
        const response = await axios.post('/login', { email, password });
        const data = response.data;

        if (data.success) {
            window.location.href = '/';
        } else {
            errorMessage.textContent = data.message;
        }
    } catch (error) {
        errorMessage.textContent = 'An error occurred. Please try again.';
    }
});
</script>

<script>
    function togglePasswordVisibility(inputId) {
    const passwordInput = document.getElementById(inputId);
    const passwordToggleIcon = document.getElementById(inputId + '-toggle-icon');

    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        passwordToggleIcon.classList.remove('fa-eye');
        passwordToggleIcon.classList.add('fa-eye-slash');
    } else {
        passwordInput.type = 'password';
        passwordToggleIcon.classList.remove('fa-eye-slash');
        passwordToggleIcon.classList.add('fa-eye');
    }
}
</script>