<div class="col-md-4 mb-3">
    <div class="card h-100 default-card" id="address-1">
        <div class="card-body">
            <h5 class="card-title">Vishnu VP</h5>
            <p class="card-text">Cheruvannur</p>
            <p class="card-text">Kozhikode, Kerala 673655</p>
            <p class="card-text">India</p>
            <p class="card-text">Phone number: 8848881691</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="#" id="addressbtn" class="btn btn-link">Edit</a>
            <a href="#" id="addressbtn" class="btn btn-link">Remove</a>
        </div>
    </div>
</div>
<div class="col-md-4 mb-3">
    <div class="card h-100 default-card" id="address-1">
        <div class="card-body">
            <h5 class="card-title">John</h5>
            <p class="card-text">Thrissur</p>
            <p class="card-text">Guruvayur, Kerala 673631</p>
            <p class="card-text">India</p>
            <p class="card-text">Phone number: 9845362513</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="#" id="addressbtn" class="btn btn-link">Edit</a>
            <a href="#" id="addressbtn" class="btn btn-link">Remove</a>
        </div>
    </div>
</div>
<div class="col-md-4 mb-3">
    <div class="card h-100 default-card" id="address-1">
        <div class="card-body">
            <h5 class="card-title">Vishnu VP</h5>
            <p class="card-text">Cheruvannur</p>
            <p class="card-text">Kozhikode, Kerala 673655</p>
            <p class="card-text">India</p>
            <p class="card-text">Phone number: 8848881691</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="#" id="addressbtn" class="btn btn-link">Edit</a>
            <a href="#" id="addressbtn" class="btn btn-link">Remove</a>
        </div>
    </div>
</div>