<%- include("../layout/header") %>
<%- include("../layout/navbar") %>

<div class="container d-flex justify-content-center align-items-center min-vh-100 p-t-120 pb-5">
    <div class="form-container sign-up p-5 bg-light rounded shadow-lg" style="max-width: 800px; font-family: 'Helvetica', sans-serif;">
        <form id="signupForm" method="POST" action="/register">
            <h2 class="text-center mb-5" style="font-size: 28px; font-weight: bold; color: #333;">Create Account</h2>
            <div class="mb-4">
                <input type="text" class="form-control mb-3" name="name" id="name" placeholder="Enter your name" style="padding: 12px; border: 1px solid #ccc; border-radius: 8px;" required>
                <input type="email" class="form-control mb-3" name="email" id="email" placeholder="Enter your email" style="padding: 12px; border: 1px solid #ccc; border-radius: 8px;" required>
                <input type="text" class="form-control mb-3" name="phone" id="phone" placeholder="Enter your mobile number" style="padding: 12px; border: 1px solid #ccc; border-radius: 8px;" required>
                <input type="password" class="form-control mb-3" name="password" id="password" placeholder="Enter your password" style="padding: 12px; border: 1px solid #ccc; border-radius: 8px;" required>
                <input type="password" class="form-control mb-4" name="confirmPassword" id="confirmPassword" placeholder="Confirm your password" style="padding: 12px; border: 1px solid #ccc; border-radius: 8px;" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" style="padding: 5px; font-size: 14px; font-weight: 100; border-radius: 8px;">GET OTP</button>
        </form>
    </div>
</div>

<%- include("../layout/footer.ejs") %>
