<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<hr class="footerline mt-5">	
	<!-- Footer -->
	<footer class="bg3 p-t-50 p-b-10">
		<div class="container">
			<div class="row">
				
				<!-- Categories -->
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
								Realme
							</a>
						</li>

						<li class="p-b-10">
							<a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
								Noise
							</a>
						</li>

						<li class="p-b-10">
							<a href="/shop" class="stext-107 cl7 hov-cl1 trans-04">
								Boat
							</a>
						</li>
					</ul>
				</div>

				<!-- Accounts -->
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Accounts
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/profile" class="stext-107 cl7 hov-cl1 trans-04">
								My Account
							</a>
						</li>

						<li class="p-b-10">
							<a href="/wishlist" class="stext-107 cl7 hov-cl1 trans-04">
								Wishlist 
							</a>
						</li>

						<li class="p-b-10">
							<a href="/load-cart" class="stext-107 cl7 hov-cl1 trans-04"	>
								Cart
							</a>
						</li>
					</ul>
				</div>

				<!-- Help -->
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<!-- GET IN TOUCH -->
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>
				
					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 4th floor, HiLite Mall, Calicut, 10018 or call us on (+91)8848881691
					</p>
				</div>

			</div>
			<hr>
			<div class="p-t-10">
				<!-- COPYRIGHT -->
				<!--=============================================================-->
				<p class="stext-107 cl6 txt-center">
					Copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script>
					All rights reserved | NEXUS
					<i class="fa fa-heart-o" aria-hidden="true"></i> Developed by 
					<a href="https://vishnuvp26.github.io/Portfolio/" target="_blank">Vishnu Mohan</a>
				</p>
				<!--=============================================================-->
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/slick/slick.min.js"></script>
	<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
<!--===============================================================================================-->

</body>
</html>