<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">

        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    Free shipping for all the orders
                </div>

                <div class="right-top-bar flex-w h-full">
                    <a class="flex-c-m trans-04 p-lr-25">
                        Help & FAQs
                    </a>

                    <a class="flex-c-m trans-04 p-lr-25">
                        EN
                    </a>

                    <a class="flex-c-m trans-04 p-lr-25">
                        INR
                    </a>
                </div>
            </div>
        </div>

        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">
                
                <!-- Logo desktop -->		
                <a href="/" class="logo" style="color: darkcyan; font-family: Arial, sans-serif; font-weight: bold; font-size: 10px; text-decoration: none;">
                    <h2>NEXUS</h2>
                </a>										

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">

                        <li>
                            <a href="/">Home</a>
                        </li>

                        <li>
                            <a href="/shop">Shop</a>
                        </li>	

                        <% if (user) { %>
                            <li>
                                <a href="/profile">Account</a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="/login">Login</a>
                            </li>
                        <% } %>

                        <li>
                            <a href="/about">About</a>
                        </li>

                    </ul>
                </div>

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    
                    <a href="/load-cart" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                        <div>
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                    </a>						

                    <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                        <i class="zmdi zmdi-favorite-outline"></i>
                    </a>

                    <% if (user) { %>
                        <div class="dropdown user-dropdown">
                            <a href="/profile" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none; display: flex; align-items: center;">
                                <li class="zmdi zmdi-account" style="display: flex; align-items: center;">
                                    <span style="font-size: 15px; margin-left: 10px; font-family: Poppins-Regular; font-weight: 500;">
                                        <%= user.name %>
                                    </span>
                                    <span class="caret"></span>
                                </li>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/profile">Profile</a>
                                <a class="dropdown-item" href="/view-orders">Orders</a>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </div>
                    <% } %>                                                
                </div>
            </nav>
        </div>	
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->		
        <div class="logo-mobile">
            <a href="/" class="logo" style="color: darkcyan; font-family: Arial, sans-serif; font-weight: bold; font-size: 10px;">
                <h2>NEXUS</h2>
            </a>
        </div>

        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m m-r-15">

            <a href="/load-cart" class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 ic	on-header-noti js-show-cart">
                <i class="zmdi zmdi-shopping-cart"></i>
            </a>

            <a href="/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon">
                <i class="zmdi zmdi-favorite-outline"></i>
            </a>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <d	iv class="menu-mobile">
        <ul class="main-menu-m">
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/shop">Shop</a>
            </li>

            <% if (user) { %>
                <li>
                    <a href="/profile"><%= user.name %> <i class="zmdi zmdi-account"></i></a>
                </li>
            <% } else { %>
                <li>
                    <a href="/login">Login</a>
                </li>
            <% } %>

            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </div>

</header>